<h1>Übersicht Athleten</h1>

<table>
  <tr>
    <th>Vorname</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @athlets.each do |athlet| %>
  <tr>
    <td><%= athlet.first_name %></td>
    <td><%= athlet.last_name %></td>
    <td><%= link_to 'Zeige Details', athlet %></td>
    <td><%= link_to 'Ändern', edit_athlet_path(athlet) %></td>
    <td><%= link_to 'Entfernen', athlet, :confirm => 'Sicher!?', :method => :delete %></td>
  </tr>
<% end %>
</table>
 
<br />

<%= link_to 'Neuen Athlet anlegen', new_athlet_path %> 
